<div class="px-5 bg">
    <h1 class="text-center sk">About</h1><br><br>
    <div class="row flex-column-reverse flex-lg-row">
        <div class="col-lg-6 pb-4">
            <p style="font-size: 20px;"><span class="sk" style="font-size: 40px;">Salut</span> <br>
                Je suis une développeuse passionnée par le développement web et mobile, avec une solide expérience en Angular, TypeScript, et Node.js.
                 J'aime concevoir des interfaces modernes, réactives et performantes, tout en garantissant une architecture propre et maintenable.
                Curieuse et toujours en quête d'apprentissage, je me tiens à jour des dernières technologies et bonnes pratiques.
                 J'apprécie particulièrement transformer une idée en un produit fonctionnel, esthétique et accessible.
            </p><br>
            <a type="button" href="https://github.com/wima-404" target="_blank"
                class="btn btn-outline-light dwnldBtn">Download CV &nbsp;<span
                    class="material-symbols-outlined download">
                    download
                </span></a>
            </div>
        <div class="col-lg-6 pb-4">
            <div class="image-cropper">
                <img class="image" src=""  alt="">
            </div>
        </div>
    </div>
</div>